<div ng-cloak ng-controller="myController">

	<div class="dashboard-container">
		
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			<div uib-slide ng-repeat="dashboard in dashboards track by $index" index="$index"  class="dashboard">
				<h2>{{dashboard.templatename}}</h2>
				<!--<div ng-repeat="widget in dashboard.widgets.slice(0,2)" class="widget">
				<div ng-repeat="widget in dashboard.widgets" class="widget">-->
				<!--<p>{{dashboard.templatename}}_{{widget.widget}}</p>
					<div id="{{dashboard.templatename}}_{{widget.widget}}" style="min-width:500px;height:400px; margin:0 auto"></div>
					<h3>{{widget.Title}}</h3>
				</div>-->
				<div ng-include src="'/partials/dashboardContent.html'"></div>
			</div>
		</div>
		
	</div>
	
	
</div>


