<div style="width:100%" ng-init="OpenChart(nextval,clickedval)">
<div class="row" style="margin-top:2%;">
<div class="col-lg-6">
	<div  class="panel panel-default">
	<div class="panel-heading">
		<p style="color:#337ab7">Select {{nextval}}</p>
	</div>
	<div class="panel-body" >
						<div class="row" >
							<div class="col-xs-12">
								<span ng-if="display2 != null" class="radio-inline" ng-repeat="i in display2 track by $index" style="color:#337ab7;">
									<input type="radio" data-ng-value="i" data-ng-model="role" ng-click="OpenChart(i,clickedval);stopInterval()" name="optradio">{{i}}
								</span>
								<p ng-if="display2 == null" style="color:#337ab7"> No instances for {{nextval}}</p>
							</div>
						</div>
	</div>
	</div>
</div>
<div class="col-lg-6">
	<div  class="panel panel-default">
	<div class="panel-heading" >
		<p style="color:#337ab7">Select next fields for {{nextval}} : {{info}}</p>
	</div>
	<div class="panel-body" >
		<div class="container">
				  <div class="row">
					 	<div class="col-xs-12">
							 <button ng-if="nextfield2 != null" ng-repeat="i in nextfield2" ng-if="display2 != null" ng-click="value='next';getNextField(info,i,value)" class="btn btn-primary" style="color:#fff;display:block;float:left;margin-left:1%;margin-top:1%">{{i}}</button>
						</div>
						<p  ng-if="nextfield2 == null" style="color:#337ab7">No instances for {{nextval}}</p>
				  </div>
		</div>
	</div>
	</div>
</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p style="color:#337ab7">Select metrics for {{nextval}}</p>
			</div>
			<div class="panel-body" style="min-height:40px;max-height:80px;overflow-y:scroll;">
				<p ng-if="recmetricsright[0].widgets == null" style="color:#337ab7"> No metrics for {{nextval}}</p>
				<div class="row" >
							<div class="col-lg-3">
								<form>
								<span class="radio-inline"  ng-repeat="metricnext in recmetricsright[0].widgets track by $index" style="color:#337ab7;">

									<input id="metricnext" type="radio" ng-value="metricnext" ng-model="selectedMetric.metric" name="optradio">{{metricnext}}
								</span>
								</form>
							</div>
					</div>
			</div>
		</div>
	</div>


	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p style="color:#337ab7">Select metrics for {{type}}</p>
			</div>
			<div class="panel-body" style="min-height:40px;max-height:80px;overflow-y:scroll;">
				<p ng-if="recmetricsleft[0].widgets == null" style="color:#337ab7"> No metrics for {{type}}</p>
				<div class="row" >
							<div class="col-lg-3">
								<form>

								<span class="radio-inline" ng-repeat="metricprev in recmetricsleft[0].widgets track by $index" style="color:#337ab7;">

									<input id="metricprev" type="radio"  ng-value="metricprev" ng-model="selected1Metric.metric" name="optradio">{{metricprev}}
								</span>
								</form>
							</div>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
<div class="col-lg-6">
<div class="panel panel-default">
	<div class="panel-heading">
		<p style="color:#337ab7">Graph for {{nextval}} : {{info}}</p>


	</div>
	<div id="#div1" class="panel-body" style="min-height:40px;max-height:300px;overflow-y:scroll;">
	<p ng-if="recmetricsright[0].widgets == null" style="color:#337ab7"> No graph for {{nextval}}</p>
		<div class="row" ng-show="(selectedMetric.metric==null || i==selectedMetric.metric)" ng-repeat="i in recmetricsright[0].widgets track by $index">
		<div class="col-1">
				<p ng-if="recmetricsright[0].widgets == null" style="color:#337ab7"> No graph for {{nextval}}</p>
				<div style="background-color:#E0E0E0">
					<canvas id="{{i}}" width="290" height="200"></canvas><hr>
				</div>
		</div>
		</div>
	</div>
</div>
</div>

<div class="col-lg-6">
<div class="panel panel-default">
	<div class="panel-heading">
		<p style="color:#337ab7">Graph for {{type}} : {{clickedval}}</p>
	</div>
	<div id="#div2" class="panel-body" style="min-height:40px;max-height:300px;overflow-y:scroll;">
		<p ng-if="recmetricsleft[0].widgets == null" style="color:#337ab7"> No graph for {{type}}</p>
		<div class="row"  ng-show="(selected1Metric.metric==null || i==selected1Metric.metric)" ng-repeat="i in recmetricsleft[0].widgets track by $index">
		<div class="col-1">
				<div style="background-color:#E0E0E0">
					<canvas id="{{i}}" width="290" height="200"></canvas><hr>
				</div>
		</div>
		</div>
	</div>

</div>
</div>
</div>
	<div> <button ng-click="plotChart(mergemetric)">Plot Chart</button> </div>
</div>
