
<div ng-cloak ng-controller="Checkcontroller" class="md-padding demo checkboxdemoSelectAll">
<md-card style="height:30%;width:30%">
	<md-card-title-text style="background-color:#2196F3;color:#FFF">
	  <div style="display:inline-flex" height:20%" class="md-headline">Dashboard Customization</div>
	 </md-card-title-text>
	<md-card-content >
	
      <div layout="row" layout-wrap>
	   <div flex="100" layout="column">
	    <div>
          <div layout="row" layout-wrap flex>
          <div flex-xs flex="50">
            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
              <span ng-if="isChecked()">Un-</span>Select All
            </md-checkbox>
          </div>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
			<!--<p>{{item}}{{selected}}</p>-->
              
			  <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
               {{ item.name}}
              </md-checkbox>
			  
            </div>
          </div>
        
      </div>
	  <md-card-actions layout="row" layout-align="end center">
			<md-button class="md-raised md-primary" ng-click="savedb()">Save</md-button>
	  </md-card-actions>	
	  </div>
	  </div>
	 <md-card-content>
    </md-card>		
   </div>

