			<!--div class="dashboard" >
				<div ng-repeat="widget in dashboard.widgets" class="widget">
					<div id="{{dashboard.instance.templatename}}_{{widget.Title}}" style="min-width:300px;height:200px; margin:0 auto"></div>
					<h3>{{widget.Title}}</h3>	
				</div>
			</div-->
			
			
				<div ng-repeat="widget in dashboard.widgets.slice(0,2)" class="widget" ng-controller="myController" ng-click="dashboardClick(dashboard)">
					<div id="{{dashboard.templatename}}_{{widget.widget}}" style="min-width:500px;height:300px; margin:0 auto"></div>
					<h3>{{widget.widget}}</h3>
				</div>