<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="height:100%;width:60%" ng-controller="DialogController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Labels</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
		<div class="data-row-container">
		<div class="data-row" style="clear:both;" ng-repeat="data in dataarray track by $index">
		<div style="margin-top:5%;margin-left:5%">
          <md-input-container  ng-repeat="i in key1" class="" >
            <label class="md-title">{{i}}</label>
			
            <md-select  ng-model="data.selectedval[$index]">
              <md-option ng-repeat="item in x[$index] track by $index"  ng-value="item">
                {{item}}
              </md-option>
            </md-select>
          </md-input-container>
		  </div>
		  </div>
		  </div>
		<div style="display:inline;float:right;margin-right:5%;margin-top:-39px;position:relative">
			<i class="material-icons" ng-click="addrow()">add_circle</i>
		</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="saveLabel();answer('Save')">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
