  <md-card>
    <md-card-content layout="row" layout-align="center" class="layout-align-center-stretch layout-row"> 
      <mdt-table table-card="{visible: true, title:val+' & Hosts'}" selectable-rows="actionlabel.indexOf('eate') == 2" alternate-headers="" selected-row-callback="addSelectedContainers(rows)" paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" sortable-columns="true" animate-sort-icon="true">
        <mdt-header-row>
          <mdt-column align-rule="left">{{val}}</mdt-column>
          <mdt-column align-rule="left">Host</mdt-column>
          <!-- <mdt-column align-rule="right">CPU (%)</mdt-column>
          <mdt-column align-rule="right">Pri. Memory (%)</mdt-column>
          <mdt-column align-rule="right">Sec. Memory (%)</mdt-column> -->         
        </mdt-header-row>
        <mdt-row ng-repeat="(key, value) in containers" table-row-id="key">
          <mdt-cell>{{key}}</mdt-cell>
          <mdt-cell>{{value}}</mdt-cell>
          <!--<mdt-cell>35</mdt-cell>
          <mdt-cell>12</mdt-cell>
          <mdt-cell>6</mdt-cell>-->
        </mdt-row>
      </mdt-table>
    </md-card-content>
  </md-card>
  <md-button class="md-accent md-raised md-hue-1" ng-show="actionlabel.indexOf('eate') == 2" ng-click="configureDashboard()">Customise</md-button>
</div>
