<div ng-cloak ng-init="retrieveMetrics()">
  <md-card>
    <md-card-content layout="row" layout-align="center" class="layout-align-center-stretch layout-row"> 
      <mdt-table table-card="{visible: true, title: 'Metrics Parameters'}" selectable-rows="true" alternate-headers=""  selected-row-callback="addSelectedMatrix(rows)" paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" sortable-columns="true" animate-sort-icon="true">
        <mdt-header-row>
          <mdt-column align-rule="left">Name</mdt-column>
          <mdt-column align-rule="left">Description</mdt-column>
        </mdt-header-row>
        <mdt-row ng-repeat="(key, value) in metrics_list" table-row-id="key">
          <mdt-cell>{{key}}</mdt-cell>
          <mdt-cell>{{value}}</mdt-cell>
        </mdt-row>
      </mdt-table>
    </md-card-content>      
  </md-card>
  <div layout="row" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
    <md-content layout-gt-sm="column" layout-padding="">
        <md-input-container>
          <label>Dashboard Name</label>
          <input ng-model="dbname">
          <md-button class="md-accent md-raised md-hue-1" ng-click="saveDashboard()">SAVE DASHBOARD</md-button>
          </md-input-container>
    </md-content>
  </div>
</div>
