<div ng-cloak ng-init="searchNodes()">
  <md-card>
      <div layout="column" layout-align="center center" style="padding:40px" ng-cloak>
        <div layout="column" layout-align="center center">
          <md-input-container>
            <label>{{actionlabel}} Name</label>
            <input ng-model="dbname">
          </md-input-container>
          <md-button class="md-accent md-raised md-hue-1" ng-click="search()" id="Search_Nodes" value={{actionlabel}}>Search {{actionlabel}}</md-button>
        </div>
      </div>      
  </md-card>
</div>
