
<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>

<div align="center" class="fond">

 <span style="width:400px;clear:both;padding:5px; color:#b5e6e3; font-weight:300; font-size:30px; font-family:'Roboto';padding-top:20px;">
      <font style="font-weight:400;">VIRTUAL MACHINES</font>
    </span>
  
	<span style="display:inline;float:right;width:500px;margin-top:0;margin-left:90%" ng-if="vm != vminfocus" style="text-align: right; width: 49%;display: inline-block; float: right;">
		<md-input-container  style="margin: 10px auto;">
        <label><i class="material-icons">search</i></label>
        <input ng-model="searchfilters.vmquery" type="text">{{searchfilters.vmquery}}
        </md-input-container>
	    </span>
	<!--div class="focussed-details">
		<p ng-show="vminfocus">VM&nbsp;&nbsp;&nbsp;{{vminfocus.Host}}</p>
		<p ng-show="containerinfocus" >Container&nbsp;&nbsp;&nbsp;{{containerinfocus.Name}}</p>
		
	</div--> 
  <div style="width:1000px;position:relative;">


<!--
ng-mouseleave="focusVM(false)" 
-->
    
    <md-card ng-repeat="vm in vms|filter: searchfilters.vmquery"  ng-class="{'vm-focused': vm==vminfocus, 'style_prevu_kit': true}"
		align="left" class="style_prevu_kit" style="background-color:{{vm_colors[$index%vm_colors.length]}}">
		<md-card-content>
		<p style="text-align:right;">
		<md-button ng-click="focusVM(false)" ng-if="vm==vminfocus"><i class="material-icons">close</i></md-button>
		</p>
		
		<p ng-if="vm != vminfocus" style="padding-left:0;text-align:center">{{vm.ip}}</p>

		
		<p style="clear:both;overflow: hidden;">
		<!--<span ng-show="vminfocus" style="text-align:right;width:50%;display: inline-block; float: left;line-height: 3.5em;">
		VM&nbsp;&nbsp;&nbsp;{{vminfocus.name}}
		</span>-->
		
		<span ng-if="vm==vminfocus" style="text-align: right; width: 49%;display: inline-block; float: right;">
		<md-input-container  style="margin: 30px auto;">
        <label><i class="material-icons">search</i></label>
        <input ng-model="searchfilters.containerquery" type="text">{{searchfilters.containerquery}}
        </md-input-container>
	    </span>
		
		</p>
		
		<p style="text-align:center;padding-left:0" ng-if="vm != vminfocus"><i style="font-size:85px" class="material-icons">computer</i></p>
		</md-card-content>
		
	
	 <md-card style="background-color:#FFF;" ng-repeat="container in containerdata|filter:searchfilters.containerquery" ng-show="vminfocus==vm" align="center" class="style_prevu_kit_child"
        ng-mouseenter="focusContainer(container)" ng-mouseleave="focusContainer(false)" >
          <md-card-content layout="row" layout-padding layout-wrap layout-fill layout-align="center">
		  
		  <img src="../images/Docker.png" width="40" height="50">
		  <div style="width:270px;" layout="row" layout-align="center">
		  <span style="padding:0 5px;"><i class="material-icons" ng-click="openApp()">touch_app</i></span> 
		  <!--span style="padding-right:10px;padding-top:10px;" ng-click = compare("docker")><i class="material-icons">compare_arrows</i></span-->
		  <span style="padding:0 5px;" ng-click="openChartModal(container)" ><i class="material-icons">insert_chart</i></span>
		  <span style="padding:0 5px;">
			<md-checkbox ng-model="container.compareselected" ng-true-value="true" ng-false-value="false"
				ng-change="selectedContainerforCompare(containerdata)"></md-checkbox>
		  </span>
		  </div>
		  </md-card-content>
		  <p>{{containerinfocus.Name}}</p>
      </md-card>
	<!-- <div> <p ng-show="containerinfocus" >Container&nbsp;&nbsp;&nbsp;{{containerinfocus.Name}}</p></div>-->
	
		 <md-card-actions style="position:absolute" layout="row" layout-align="center">
          <md-button ng-click="focusVM(vm)" ng-if="vm != vminfocus"><i class="material-icons">view_module</i></md-button>
		  <md-button ng-if="vm == vminfocus" ng-click = compare("vm")><i class="material-icons">compare_arrows</i></md-button>
          <md-button><i class="material-icons" ng-click="openChartModal(ev,vm)">insert_chart</i></md-button>
		  <span ng-if="vm != vminfocus" style="padding-top: 5px;min-width: 88px;display: inline-block;text-align: center;">
			<md-checkbox ng-model="vm.compareselected" ng-true-value="true" ng-false-value="false"
				ng-change="selectedVMforCompare()"></md-checkbox>
		  </span>
        </md-card-actions>
		
		
		
    </md-card>

			
	   </div>
   <div style="display:inline-block;float:right">
	<md-card style="width:220px;height:220px">
		<md-card-tilte>Create Dashboard</md-card-title>
	   <md-card-content >
			<p style="text-align:left;padding-left:0">VM Count: {{vmcount}}</p>
			<p style="text-align:left;padding-left:0">Container count: {{containercount}} </p>
			<p style="text-align:left;padding-left:0">Application count: {{appcount}}</p>
			<md-input-container>
				<label>Dashboard Name</label>
				<input ng-model="dashboardname" type="text">
			</md-input-container>
	   </md-card-content>
	   <md-card-action>
			<md-button ng-click="viewContainerDashboard()" class="md-raised md-primary">Create</md-button>
	   </md-card-action>
	</md-card>
   </div>

 </div>