
<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>

<div align="center" class="fond">
	<span style="width:400px;clear:both;padding:5px; color:#b5e6e3; font-weight:300; font-size:30px; font-family:'Roboto';padding-top:20px;">
		<font style="font-weight:400;margin-right:10%;color:black"><b>VIRTUAL MACHINES</b></font>
    </span>
  
	<span style="display:inline;float:right;width:500px;margin-top:0;margin-left:90%" ng-if="vm != vminfocus" style="text-align: right; width: 49%;display: inline-block; float: right;">
		<md-input-container  style="margin: 10px auto;">
			<label><i class="material-icons">search</i></label>
			<input ng-model="vmquery" type="text">
        </md-input-container>
	</span>

	<div style="width:450px;position:relative;">
		<md-card ng-repeat="vm in vms | filter:vmquery"  ng-class="{'vm-focused': vm==vminfocus, 'style_prevu_kit': true}"
		align="left" class="style_prevu_kit" style="background-color:{{vm_colors[$index%vm_colors.length]}}">
			<md-card-content>
				<p style="text-align:right;">
					<md-button ng-click="focusVM(false)" ng-if="vm==vminfocus"><i class="material-icons">close</i></md-button>
				</p>
		
				<p ng-if="vm != vminfocus" style="padding-left:0;text-align:center">{{vm.name}}</p>

		
				<p style="clear:both;overflow: hidden;">
					<span ng-show="vminfocus" style="text-align:right;width:50%;display: inline-block; float: left;line-height: 3.5em;font-size:20px;">
						CONTAINERS 	
					</span>
		
					<span ng-if="vm==vminfocus" style="text-align: right; width: 49%;display: inline-block; float: right;">
						<md-input-container  style="margin: 30px auto;">
							<label><i class="material-icons">search</i></label>
							<input ng-model="containerquery" type="text">
						</md-input-container>
					</span>
		
				</p>
		
				<p style="text-align:center;padding-left:0" ng-if="vm != vminfocus"><i style="font-size:85px" class="material-icons">computer</i></p>
			</md-card-content>
	 
	
			<md-card style="background-color:#FFF;" ng-repeat="container in containerdata | filter:containerquery | pagination: curPage * containerPageSize | limitTo: containerPageSize" ng-show="vminfocus==vm" align="center" class="style_prevu_kit_child"
			ng-mouseleave="focusContainer(false)" > 
				<md-card-content layout="row" layout-padding layout-wrap layout-fill layout-align="center">
					<img src="../images/Docker.png" width="40" height="50">
					<div style="width:270px;" layout="row" layout-align="center">
						<span style="padding:0 5px;" ng-click="touchApp(container)"><i class="material-icons">touch_app</i></span> 
						<span style="padding:0 5px;" ng-click="openChartModal(container)" ><i class="material-icons">insert_chart</i></span>
						<span style="padding:0 5px;">
							<md-checkbox ng-model="container.compareselected" ng-true-value="true" ng-false-value="false"
							ng-change="selectedContainerforCompare(containerdata)"></md-checkbox>
						</span>
					</div>
				</md-card-content>
			
				<md-card ng-show="containerinfocus == container" ng-mouseenter="touchApp(container)" align="center" class="style_prevu_kit_appchild" >
					<md-card-content layout="row" layout-padding layout-wrap layout-fill layout-align="center">
						<p><b>Application not found</b></p>
						<md-button ng-disabled="true"><i class="material-icons" ng-click="openAppChartModal({'Name':'tomcat'})">insert_chart</i></md-button>
						<md-checkbox ng-disabled="true" ng-model="app.compareselected" ng-true-value="true" ng-false-value="false"
						ng-change="selectedappforCompare(app)"></md-checkbox>
					</md-card-content>
				</md-card>
		    </md-card>
	  
	  
		  
			<div> <p ng-show="containerinfocus" >Container: &nbsp;&nbsp;&nbsp;{{containerinfocus.Name}}</p></div>
			<md-card-actions style="position:absolute" layout="row" layout-align="center">
				<md-button ng-click="focusVM(vm)" ng-if="vm != vminfocus"><i class="material-icons">view_module</i></md-button>
				<md-button ng-if="vm == vminfocus" ng-click = compare("vm")><i class="material-icons">insert_chart</i></md-button>
				<md-button ng-if="vm != vminfocus"><i class="material-icons" ng-click="openVMChartModal(vm)">insert_chart</i></md-button>
		  
				<span ng-if="vm != vminfocus" style="padding-top: 5px;min-width: 88px;display: inline-block;text-align: center;">
					<md-checkbox ng-model="vm.compareselected" ng-true-value="true" ng-false-value="false"
					ng-change="selectedVMforCompare()"></md-checkbox>
				</span>
			</md-card-actions>
		
		</md-card>
	</div>
    <div style="display:inline-block;float:right;margin-right:10%">
		<md-card style="width:220px;height:220px;">
			<md-card-tilte class="md-body-1"><b>Create Dashboard</b></md-card-title>
			<md-card-content>
				<p style="text-align:left;padding-left:0" class="md-body-1">VM Count: {{vmcount}}</p>
				<p style="text-align:left;padding-left:0" class="md-body-1">Container count: {{containercount}} </p>
				<p style="text-align:left;padding-left:0" class="md-body-1">Application count: {{appcount}}</p>
			<md-input-container>
				<label>Dashboard Name</label>
				<input ng-model="dashboardname" type="text">
			</md-input-container>
			</md-card-content>
			<md-card-action>
				<md-button ng-click="viewContainerDashboard()" class="md-raised md-primary">Create</md-button>
			</md-card-action>
		</md-card>
	</div>
</div>