<!--<div layout="column" class="relative" layout-fill role="main">
	 <md-content flex md-scroll-y>
		<md-grid-list
			md-cols="4"
			md-gutter="10px"
			md-row-height="1:1"
		flex>
				<md-grid-title md-colspan="4" md-rowspan="4">	
					<md-card style="height:100%;width:100%">
					<md-card-content>
							<h1>Containers and Metrics</h1>
								<canvas id="line" class="chart chart-line" chart-data="data"
                                        chart-labels="labels" chart-legend="true" chart-series="series"
                                        chart-click="onClick">
                                </canvas>
                  </md-card-content>
                </md-card>
          </md-grid-tile>
        </md-grid-list>
     </md-content>
</div>-->

<div ng-controller="myController">
<md-content flex md-scroll-y>
		<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
				<md-grid-title md-colspan="4" md-rowspan="4">		
					<!--<md-card style="height:500px;width:640px;float:left;background-color:#eee" >-->
					<md-grid-tile class="red" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" >
					<md-card>
					<!--<md-card style="height:31%;width:35%;float:left;background-color:#fff" >
					<md-card-content>-->
							<h2>Containers and Metrics</h2>
							<div style="height:10%"id="container">Placeholder for chart</div>
					</md-card>
					</md-grid-tile>
                <!--</md-card-content>
                 
				  <md-card style="height:20%;width:20%;float:right;background-color:#fff">
				  <md-card-content> -->
				  <md-grid-tile>
				  <md-card>
							<h2>CPU Utilization</h2>
								<div id="container1">Placeholder for chart</div>
									</md-card>
								</md-grid-tile>
							
                  <!--</md-card-content>
				  </md-card>-->
				 <!-- <md-card style="height:25%;width:42%;float:right;background-color:#fff">
				  <md-card-content>-->
				  <md-grid-tile>
				  <md-card>
				          <h2>Images</h2>
							<div id="container2">Placement for chart</div>
								</md-card>
							</md-grid-tile>
				<!-- </md-card-content>			
				  </md-card>
				  <md-card style="height:20%;width:63%;background-color:#fff">
				  <md-card-content>-->
				  <md-grid-tile>
				  <md-card>
							<h2>Alerts</h2>
							<!--<md-list flex>
								<md-list-item>
									<p>Container Container Container Container Container</p>
								</md-list-item>
							</md-list>-->
							<ul style="float:left">
            					<li class="md-body-2" style="float:left">Container Container Container Container Container</li>
								<br>
								<li class="md-body-2" style="float:left">Metrics Metrics Metrics Metrics</li>
							
							</ul>
								</md-card>
							</md-grid-tile>
				<!-- </md-card-content>
				  </md-card>
				 <md-card style="height:26%;width:56%;background-color:#fff;float:right">
				  <md-card-content>-->
				  <md-grid-tile>
				  	<md-card>
							<h2>Feedback</h2>
							<form>
								<md-input-container class="md-block">
									<label>Comments</label>
									<textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
								</md-input-container>
								<md-input-container>
									<label>Email</label>
										<input type="email">
								</md-input-container>
								<md-button class="md-raised md-primary">Submit</md-button>
							</form>
								</md-card>
							</md-grid-tile>
				<!--  </md-card-content>
				  </md-card>
				  <md-card style="height:30%;width:42%;float:left;background-color:#fff" >
					<md-card-content>
							<h2>Container1</h2>
								<div id="container5">Placeholder for chart</div>
                </md-card-content>
                  </md-card>-->
				
        </md-grid-list>
		 </md-content>
	 </div>